extends layout

block content
  div
    input(type='text' placeholder='Enter Hex Value Here')
    button#button1.btn.btn-primary(type='button' onclick='/javascripts/colorconverter.js') Sumbit

  head
  .w3-row
    #currentColor.w3-half.w3-center(style='background:black')
      p#colorText.w3-xxlarge(style='color:#000202')
        b
      p#colorTextRGB.w3-xxlarge(style='color:#000202')
        b
      p#colorTextHSL.w3-xxlarge(style='color:#000202')
        b

  table#colorTable
    thead
      tr
        th(scope='col') Hex Value
        th(scope='col') RGB Value
        th(scope='col') HSL Value
  br
  script(src='/javascripts/colorconverter.js')
