extends layout

block content
  head
    h1 F1 Paint Booth Color Converter
    p Welcome to F1 Paint Booth Color Converter
  body 
    p 
      | This website is meant help players of the F1 series' paint booth section. 
      | Codemasters' paint booth, while a great addition, has it's flaws.
      | Namely the colors which are an odd varient of HSL.
      | This website aims to allow users to enter in HEX values and quickly recieve HSL values.
